$primary-color: #d5ef7f;
$secondary-color: #8560a9;
$tertiary-color: #453257;
$placeholder-color: #ac8ec9;

$lime-color: #e5f7a9;
$grey-color: #67616d;
$light-purple-color: #d3c1e5;
$toast-background-color: rgba($lime-color, 0.8);
$active-color: #aecb4f;
$like-color: #ff5c5c;
$divider-color: #e8e8e8;
$light-grey-color: #bababa;
$disabled-label-color: #666;
$nav-label-color: #8c8c8c;
$search-result-background-color: #faf9fc;
$dark-green-color: #788c36;

$login-background: rgba($secondary-color, 0.5);
