@import "./variable";
@import "./mixins";

.app-post-detail {
  padding-bottom: 56px;

  .app-post-participant-wrapper {
    margin: 16px;
  }

  .app-post-comment-wrapper {
    margin: 16px;
  }

  .app-post-actions {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 56px;
    background-color: $secondary-color;
  }
}
